<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>Disaster Declaration Summary </title>
  
    <script src="../../Data/DisasterDeclarationsSummaries.csv"></script>
    


</head>
<body>

    <h1>Map Overview</h1>
    <div id="googleMap" style="width:100%;height:400px;"></div>

    <script>
        function myMap() {
            var mapProp = {
                center: new google.maps.LatLng(51.508742, -0.120850),
                zoom: 5,
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        }

        var gmarkers1 = [];
        var markers1 = [];
        var infowindow = new google.maps.InfoWindow({
            content: ''
        });

        // Our markers
        markers1 =


            /**
            * Function to init map
            */

            function initialize() {
                var center = new google.maps.LatLng(52.4357808, 4.991315699999973);
                var mapOptions = {
                    zoom: 12,
                    center: center,
                    mapTypeId: google.maps.MapTypeId.TERRAIN
                };

                map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
                for (i = 0; i < markers1.length; i++) {
                    addMarker(markers1[i]);
                }
            }

        /**
        * Function to add marker to map
        */

        function addMarker(marker) {
            var category = marker[4];
            var title = marker[1];
            var pos = new google.maps.LatLng(marker[2], marker[3]);
            var content = marker[1];

            marker1 = new google.maps.Marker({
                title: title,
                position: pos,
                category: category,
                map: map
            });

            gmarkers1.push(marker1);

            // Marker click listener
            google.maps.event.addListener(marker1, 'click', (function (marker1, content) {
                return function () {
                    console.log('Gmarker 1 gets pushed');
                    infowindow.setContent(content);
                    infowindow.open(map, marker1);
                    map.panTo(this.getPosition());
                    map.setZoom(15);
                }
            })(marker1, content));
        }

        /**
        * Function to filter markers by category
        */

        filterMarkers = function (category) {
            for (i = 0; i < markers1.length; i++) {
                marker = gmarkers1[i];
                // If is same category or category not picked
                if (marker.category == category || category.length === 0) {
                    marker.setVisible(true);
                }
                // Categories don't match
                else {
                    marker.setVisible(false);
                }
            }
        }

        // Init map
        initialize();



    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHEH47dCDLfvQ-SeDgZ_kk6hqD8VlJmhU"></script>

    <iframe src="https://www.google.com/maps/d/embed?mid=1jN3ala2mz2_JQKeISAACM34n_5AwxLDT" width="640" height="480"></iframe>





    <select id="type" onchange="filterMarkers(this.value);">
        <option value="">Please select category</option>
        <option value="declarationDate">Dates</option>
        <option value="incidentType">Type of Disasters</option>

    </select>
</body>
</html>


